@font-face {
    font-family: 'Pressura';
    src: url('fonts/GT-Pressura-Mono-Bold-Trial.woff2') format('woff2'),
        url('fonts/GT-Pressura-Mono-Bold-Trial.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Pressura-Regular';
    src: url('fonts/GT-Pressura-Mono-Regular-Trial.woff2') format('woff2'),
        url('fonts/GT-Pressura-Mono-Regular-Trial.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pressura-Medium';
    src: url('fonts/GT-Pressura-Mono-Medium-Trial.woff2') format('woff2'),
        url('fonts/GT-Pressura-Mono-Medium-Trial.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pressura-Text';
    src: url('fonts/GT-Pressura-Mono-Text-Trial.woff2') format('woff2'),
        url('fonts/GT-Pressura-Mono-Text-Trial.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Times';
    src: url('fonts/Times\ New\ Roman\ MT\ Condensed.woff') format('woff'),
        url('fonts/Times\ New\ Roman\ MT\ Condensed.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Wagen';
    src: url('fonts/KMR-Waldenburg-Buch.woff2') format('woff');
    font-weight: 400;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100vh;
    height: 100dvh;
}

a {
    text-decoration: none;
}

.nav-1 {
    font-family: 'Pressura', sans-serif;
    font-size: 1.25rem;
    letter-spacing: 1px;
    justify-content: space-between;
    padding: 0.75rem 0.6rem 0.75rem 0.6rem; 
    border-bottom: #1D1D1B 1px solid;
}

.nav-1 ul {
    display: flex;
    justify-content: space-between;
}

.nav-1 ul li {
    list-style: none;
}

.nav-1 ul li a {
    text-decoration: none;
    color: #1D1D1B;
    padding: 0.1rem 0.4rem 0.2rem 0.4rem;
    border: transparent 1px solid;
}

.nav-1 ul li a:hover {
    border: #1D1D1B solid 1px;
    padding: 0.1rem 0.4rem 0.2rem 0.4rem;
    border-radius: 0.5rem;
}

.checkbtn {
    display: none;
}

p {
    font-family: 'Pressura-Text', sans-serif;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: #1D1D1B 1px solid;
    align-items: center;
}

.main-title {
    font-family: 'Pressura' ,sans-serif;
    color: #1D1D1B;
    text-decoration: none;
}

.main-title-style {
    font-family: 'Pressura', sans-serif;
    font-size: 1rem;
    padding: 0.85rem 1rem 1rem 1rem;
    letter-spacing: 2px;
} 

.main-title :hover {
    background-color: #1D1D1B;
    color: #F0F0F0;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.dates {
    font-family: 'Pressura-Text' ,sans-serif;
    font-size: 0.75rem;
    padding: 0rem 1rem;
}

#direccio {
    text-transform: uppercase;
    padding: 0rem 1rem;
}

#countdown {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    gap: 2rem;
    text-transform: uppercase;
    padding: 0rem 1rem;
}

.countdown-item {
    display: flex;
    flex-direction: column;
}

.time {
    font-family: 'Pressura-Text', sans-serif;
    color: #1D1D1B;
    display: flex;
    font-size: 0.75rem;
    width: 100%;
}

#countdown p {
    font-size: 0.75rem;
}

.image-containter {
    height: calc(100vh - 6.3rem);
    height: calc(100dvh - 6.3rem);
    background-image: url("img/cover.svg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -0.15rem;
}

.overlay-content {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn {
    font-family: 'Pressura-Text', sans-serif;
    font-size: 1rem;
    padding: 0.85rem 1rem 1rem 1rem;
    letter-spacing: 0.15rem;
    color: #FFFFFF;
    background-color: #1D1D1B;
    border: none;
    position: relative; 
    cursor: pointer;
    overflow: hidden;
    transition: color 0.2s ease;
    z-index: 1; 
}

#btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #E94E1B; 
    z-index: -1;
    transition: height 0.2s ease;
}

#btn:hover::before {
    height: 100%; 
}

#btn:hover {
    color: #FFFFFF;
}

.preu {
    font-family: 'Pressura-Text', sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 0.15rem;
    border-top: #1D1D1B 1px solid;
    color: #1D1D1B;
    padding: 0.5rem 1rem;
}

.words1 {
    animation: slide 5s linear infinite;
}

@keyframes slide {
    0% {margin-top: -300px;}
    5% {margin-top: -200px;}
    33% {margin-top: -200px;}
    38% {margin-top: -100px;}
    66% {margin-top: -100px;}
    71% {margin-top: 0px;}
    100% {margin-top: 0px;}
}

/* tiquets */

.activelink a {
    background-color: #E94E1B;
}   

.tickets-container {
    padding: 40px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    background-color: #F0F0F0;
}

.tickets-card {
    border: #1D1D1B 1px solid;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    height: 491px;
}

.card-title {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.75rem;
    text-align: center;
    margin: 1.5rem 0rem;
    color: #1D1D1B;
    padding: 0rem 1rem;
}

.puntitos {
    background: radial-gradient(circle, #1D1D1B 15%, transparent 1%) center/5px 5px;
    background-size: 8px 25px;
    background-position: center;
    height: 10px;
}

.text-card {
    font-family: 'Pressura-Text', sans-serif;
    font-size: 0.85rem;
    text-transform: uppercase;
}

.text-card-container {
    padding: 0.5rem;
}

.text-card-container p {
    margin-bottom: 1rem;
    margin-top: 0.37rem;
}

.bottom-card {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    align-items: center;
}

.btn-2 {
    font-family: 'Pressura-Text', sans-serif;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    color: #FFFFFF; /* Initial text color */
    letter-spacing: 0.1rem;
    width: 100%;
    text-align: left;
    border-top: #1D1D1B solid 1px;
    border-right: #1D1D1B solid 1px;
    background-color: #1D1D1B;
    position: relative; 
    cursor: pointer;
    overflow: hidden;
    transition: color 0.2s ease;
    z-index: 1; 
}

.btn-2::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #E94E1B; 
    z-index: -1;
    transition: height 0.2s ease;
}

.btn-2:hover::before {
    height: 100%; 
}

.btn-2:hover {
    color: #FFFFFF; 
}


.button-link {
    width: 100%;
}

.preu {
    font-family: 'Pressura-Text', sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 0.15rem;
    border-top: #1D1D1B 1px solid;
    color: #1D1D1B;
    padding: 0.5rem 1rem;
}

/* horaris */

.activelink2 a {
    background-color: #E94E1B;
    padding: 0.1rem 0.4rem;
    border-radius: 0.3rem; 
}

.activelink2 a:hover {
    background-color:#E94E1B;
    color: #1D1D1B;
    border-radius: 0rem;
}

.horaris-container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: #F0F0F0;
}

.dia-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.title-horaris {
    font-family: 'Pressura', sans-serif;
    font-size: 1.25rem;
    align-items: center;
    margin-bottom: 0.75rem;
    color: #E94E1B;
}

ul.leaders {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

ul.leaders li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
}

ul.leaders span:first-child {
    padding-right: 0.33em;
    background-color: #F0F0F0;
    font-family: 'Pressura-Text', sans-serif;
    font-size: 0.85rem;
    text-transform: uppercase;
}
ul.leaders span + span {
    float: right;
    padding-left: 0.33em;
    background-color: #F0F0F0;
    font-family: 'Pressura-Text', sans-serif;
    font-size: 0.85rem;
    text-transform: uppercase;
}

/*Cartell*/


.activelink3 a {
    background-color: #C9D9F0;
    padding: 0.1rem 0.4rem;
    border-radius: 0.3rem; 
    color: #1D1D1B;
}

.activelink3 a:hover {
    background-color:#DEE8F6;
    color: #1D1D1B;
    border-radius: 0rem;
}

    
.main-title :hover {
    background-color: #1D1D1B;
    color: #F0F0F0;
}

.cartell-container {
    padding: 3rem 15rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    background-color: #F0F0F0;
    justify-content: space-between;
}

.title-horaris2 {
    font-family: 'Pressura', sans-serif;
    font-size: 1.25rem;
    align-items: center;
    margin-bottom: 0.75rem;
    color: #E94E1B;
}

.dia-container2 {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.djs-container {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    gap: 1rem;
}

.djs {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F0F0F0;
}

.dj {
    width: 100%;
}

.dj img {
    height: 280px;
    width: 100%;
    border: #1D1D1B 1px solid;
    margin-bottom: 0.25rem;
}

.dj-name {
    font-family: 'Pressura-Bold', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0.35rem 0.5rem;
    margin-bottom: 0.5rem;
    border: #1D1D1B 1px solid;
    color: #E94E1B;
}

.bottom-cardj {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    text-transform: uppercase;
}

.day-name {
    font-family: 'Pressura-Text', sans-serif;
    font-size: 1rem;
    border: #1D1D1B 1px solid;
    padding: 0.15rem 0.25rem 0.25rem 0.25rem;
}

/*Info*/

.activelink4 a {
    background-color: #E94E1B;
    padding: 0.1rem 0.4rem;
    border-radius: 0.3rem; 
    color: #1D1D1B;
}

.activelink4 a:hover {
    background-color:#E94E1B;
    color: #1D1D1B;
    border-radius: 0rem;
}

.title-horaris3 {
    color: #E94E1B;
    font-family: 'Pressura', sans-serif;
    font-size: 1.25rem;
    align-items: center;
    margin-bottom: 0.75rem;
}

.outter-list {
    display: flex; 
    flex-direction: column;
    gap: 1.25rem;
}

.inner-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style-type: none; 
    margin-top: 0.75rem;
}

.list-info {
    font-family: 'Pressura-Text', sans-serif;
    font-size: 0.85rem;
    text-transform: uppercase;
}

.sub-list-info {
    margin-left: 1.5rem;
}

/*media-queries*/

@media (max-width: 768px) {

    .header {
        flex-direction: row;
    }

    .main-title-style {
        width: 9rem;
        padding: 0.5rem;
    }

    .dates {
        width: 4rem;
        padding: 0.5rem;
        line-height: 1rem;
    }

    #direccio {
        width: 10rem;
        padding: 0.5rem;
        line-height: 1rem;
    }

    p.time ,p.dates {
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .checkbtn {
        display: block;
        cursor: pointer;
        font-size: 1rem;
        color: #1D1D1B;
        text-align: center;
        padding-top: 0.5rem;
        padding-bottom: 0.65rem;
    }

    .nav-1 {
        height: 0;
        padding: 0px;  
        position: absolute;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: #FFFFFF;
        transition: 0.5s;  
        overflow: hidden;  
        border-bottom: #1D1D1B 1px solid;
    }

    .nav-1 ul {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin: 20px auto 20px auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }  

    .nav-1 ul li {
        margin-bottom: 1rem;
    }
    
    .nav-1.active {
        height: auto;
    }

    .nav-1.active ul {
        opacity: 1;
    }

    .slider div {
        font-size: 3rem;
        letter-spacing: -0.5px;
        height: 80px;
        text-shadow:  
        0.5px 0.5px 0 black,   /* Bottom-right */
        -1px 1px 0 black,  /* Bottom-left */
        0.5px -0.5px 0 black,  /* Top-right */
        -0.5px -0.5px 0 black;
    }

    .slider {
        height: 100px;
        padding-left: 15px;
        overflow: hidden;
    }

    #countdown {
        padding: 0rem 0.5rem;
        gap: 1rem;
    }
    

    /*Tiquets*/


    .tickets-container {
        flex-direction: column;
        padding: 3rem;
    }

    .tickets-card {
        width: 100%;
        max-width: 500px;
        height: auto;
    }

    /*Horaris*/

    .activelink2 {
        margin: 0 auto;
    }

    .dia-container {
        width: 100%;
    }

    /*Cartell*/


    .activelink3 {
        margin: 0 auto;
    }

    .cartell-container {
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        background-color: #F0F0F0;
    }

    .dia-container2 {
        width: 100%;
    }

    .djs-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .djs-container img {
        width: 100%;
    }

    .dj {
        width: 100%;
        padding: 1rem 2rem;
    }

    }
    